html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(27, 104, 104);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 270px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(7, 43, 43);
}

.header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    height: 30px;
    padding: 5px 10px;
}

.operations-display {
    height: 30px;
    background-color: rgb(214, 214, 214);
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px 0px 0px;
}

.current-display {
    height: 40px;
    background-color: rgb(144, 175, 115);
    text-align: right;
    vertical-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 10px 0px 0px;
    font-size: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    font-size: 20px;
    font-weight: 700;
    margin: 2px;
    cursor: pointer;
}

.button:not(.none):hover {
    background-color: rgba(119, 112, 112, 0.61);
}

.operation {
    background-color: rgb(212, 83, 83);
}

.operation:hover {
    background-color: rgb(204, 25, 25);
}

.clear,
.back {
    background-color: rgb(62, 124, 206);
}

.clear:hover,
.back:hover {
    background-color: rgb(35, 116, 223);
}

.none {
    background-color: black;
    cursor: default;
}


a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer > * {
    font-size: 18px;
}